body{
  background-color: #121212;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.intro h1 {
  color: #627D98;
  border-bottom: solid thin gray;
}

.intro img {
  float: right;
}