body{
  background-color: #1b262c;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  color: white;
}

h3{
  color: #3282b8;
}

a:link {
  color: #0f4c75;
}

a:visited {
  color: #bbe1fa;
}

.intro {
  background-color: #0f4c75;
  overflow: auto;
  margin: 5px 5px 0px 5px;
}

.intro h1 {
  color: #bbe1fa;
  border-bottom: solid thin #1b262c;
  margin-left: 5px;
  font-size: 3em;
}

.intro img {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

.intro h2, p{
  margin-left: 20px;
}

.intro span {
  font-family: 'Courier New', Courier, monospace;
}

.projects {
  clear: both;
  background-color: #3282b8;
  overflow: auto;
  margin: 3%;
  padding: 2%
}

.projects h2 {
  text-align: center;
}

.column {
  width: 30%;
  margin-left: 3%;
  float: left;
}

.about_me {
  clear: both;
  margin-left: 3%;
}

.about_me h2 {
  color: #0f4c75;
}